StreamVault-debug.apk filter=lfs diff=lfs merge=lfs -text
StreamVault-v230.apk filter=lfs diff=lfs merge=lfs -text
attached_assets/StreamVault-build-16.apk filter=lfs diff=lfs merge=lfs -text
patches/*.patch -whitespace
